/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.bg_animate {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg_animate h1, .bg_animate h2 {
    margin: 10px 0;
    font-weight: bold;
}

.bg_animate h1 {
    font-size: 3rem; /* Tamaño de fuente para el título principal */
    font-family: 'Arial', sans-serif; /* Fuente alternativa para el título principal */
    line-height: 1.2; /* Reduce el interlineado */
    transition: transform 0.3s ease, color 0.3s ease; /* Añade transición para hover */
}

.bg_animate h2 {
    font-size: 2rem; /* Tamaño de fuente para el subtítulo */
    font-family: 'Arial', sans-serif; /* Fuente alternativa para el subtítulo */
    line-height: 1.2; /* Reduce el interlineado */
    transition: transform 0.3s ease, color 0.3s ease; /* Añade transición para hover */
}

.bg_animate h1:hover, .bg_animate h2:hover {
    transform: scale(1.05); /* Efecto de aumento al hacer hover */
    color: #FFD700; /* Cambia el color del texto al hacer hover */
}

.header_nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.burbuja {
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    position: absolute;
    bottom: -150px;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) { width: 80px; height: 80px; left: 5%; animation-duration: 3s; animation-delay: 3s; }
.burbuja:nth-child(2) { width: 100px; height: 100px; left: 35%; animation-duration: 3s; animation-delay: 5s; }
.burbuja:nth-child(3) { width: 20px; height: 20px; left: 15%; animation-duration: 1.5s; animation-delay: 7s; }
.burbuja:nth-child(4) { width: 50px; height: 50px; left: 90%; animation-duration: 6s; animation-delay: 3s; }
.burbuja:nth-child(5) { width: 70px; height: 70px; left: 65%; animation-duration: 3s; animation-delay: 1s; }
.burbuja:nth-child(6) { width: 20px; height: 20px; left: 50%; animation-duration: 4s; animation-delay: 5s; }
.burbuja:nth-child(7) { width: 20px; height: 20px; left: 50%; animation-duration: 4s; animation-delay: 5s; }
.burbuja:nth-child(8) { width: 100px; height: 100px; left: 52%; animation-duration: 5s; animation-delay: 5s; }
.burbuja:nth-child(9) { width: 65px; height: 65px; left: 51%; animation-duration: 3s; animation-delay: 2s; }
.burbuja:nth-child(10) { width: 40px; height: 40px; left: 35%; animation-duration: 3s; animation-delay: 4s; }

@keyframes burbujas {
    0% { bottom: 0; opacity: 0; }
    30% { transform: translateX(30px); }
    50% { opacity: .4; }
    100% { bottom: 100vh; opacity: 0; }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); /* Ajusta la altura para dejar espacio para el encabezado */
    position: relative;
    z-index: 1;
}

.image-box {
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.image-box img {
    width: 200px; /* Ajusta el tamaño de las imágenes según tu diseño */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease; /* Animación al hacer hover */
}

.image-box p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.image-box:hover img {
    transform: scale(1.1); /* Efecto de aumento al hacer hover */
}
